{% extends "base1.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    Hello, {{ request.user.username }}
    <p>Welcome to your page</p>

    <form action="{% url 'password_change' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Change Password</button>
    </form>
    
    
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endblock %}
