{% comment %} Someone asked for a password reset for this email: {{ email }}
Follow the link below to reset your password:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
Your username, in case you've forgotten: {{ user.get_username }}

 {% endcomment %}
{% autoescape off %}
Hello,

Please click the following link to reset your password:

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

If you did not request this, please ignore this email.

Thank you,
Bibliatica
{% endautoescape %}
